.course-details-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.card-container {
  display: flex;
  align-items: center;
  box-shadow: 4px 4px 4px 4px #f1f5f9;
  width: 60%;
}

.course-item-image {
  height: 400px;
  width: 300px;
  margin-right: 20px;
}

.course-item-name {
  color: #1e293b;
  font-family: 'Roboto';
}

.course-item-description {
  color: #475569;
  font-family: 'Roboto';
  font-size: 20px;
}
